.spaced-out-par {
    letter-spacing: 1.2px;
    line-height: 1.8em;
}

.main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-nav li {
    margin: 0 0 30px 0;
}

.main-nav li a {
    font-size: 60px;
    color: #000;
    font-weight: bold;
    line-height: 80px;
}

.main-nav li a:hover,
.main-nav li a:focus {
    border-bottom: 12px solid #000;
    text-decoration: none;
}

.full-menu {
    visibility: hidden;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.full-menu--open {
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.full-menu--transition {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.full-menu--middle {
    display: table-cell;
    vertical-align: middle;
}

.menu-toggle {
    position: absolute;
    top: 30px;
    left: 30px;
}
